footer{
  text-align: center !important;
  background-color: #22D18D;
  display: block;
  height: 200px;

}
footer p.myfooter {
 padding-top: 50px !important;
 padding-bottom: 16px !important;
 font-size: 30px;
}
footer p.myfooter a{
 text-decoration: none;
 color: rgb(255, 255, 255)
}
footer h3 a{
 text-decoration: none;
 color: rgb(0, 0, 0);
 margin: 10px;
}
