#admin-form {
    background-color: #f1f1f1;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    font-family: economica;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

form h1 {
    text-align: center;
    margin: 10px;
    color: black;
}




input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
   font-family: economica;
    border: 1px solid #aaaaaa;
    margin-bottom: 5px;
}

button#logIn {
    width: 100%;
    background-color: #333;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: economica;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: border-bottom 1.5s;
}

button#logIn:hover {
    border-bottom: 3px solid #22D18D;

}

/* Mark input boxes that gets an error on validation: */

input.invalid {
    background-color: #ffdddd;
}

.loader {
    height: 15px;
    width: 15px;
}
